footer{
    position: fixed;
    bottom: 0;
    background-color:#101820;;
    width: 100%;
    justify-content: space-evenly ;
    display: flex;
    height: 30vh;
}
footer ul li a{
   padding-top: 2vh;
    text-decoration: none;
    color: #dbdcde;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer ul{
    list-style: none;
    color: #afafaf;
}
footer h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.footer-img{
    width:7vw;
    position:fixed;
    left:0;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 9vh;
  }
