header{
    background-color: #101820;;
    display: flex;
    justify-content: space-between;
    padding: 4vh 10vw;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
header ul li a{
    padding: 15px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    border: 2px solid #4d4a4a
}
header h1{
    color:hotpink;
}
.header-img{
    width:5.25vw;
    position:fixed;
    left:0;
    top:1vh;
    margin-top: 0.25vh;
    margin-left: 7vh;
  }